@tailwind base;
@tailwind components;
@tailwind utilities;

.vitaFresco{
  color:#fff;
  font-size:30px;
  background-color: rgb(60, 63, 231);
  position: absolute;
  left: 25%;
  margin-top: 2%;
  display: inline-block;
  padding: 1.5rem 5rem;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.vitaFresco::before{
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border-top: 25px solid #005276;
  border-left: 25px solid transparent;
}